body, html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#container {
  margin: 60px auto;
  width: 360px;
  text-align: center;
}

#search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 8px;
  border: 1px #cdcdcd solid;
  border-radius: 4px;
}

#output {
    text-align: left;
    width: 240px;
}

#startButton {
  padding: 12px 24px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  background: #0079C8;
}
