.autocomplete-container {
  position: relative;
  margin-top: 40px;
  padding: 2px 0 2px 2px;
  border: 1px solid #4B5158;
  border-radius: 4px;
  background: #fff;
}

.autocomplete {
  display: flex;
}

input,
button {
  font-family: inherit;
}

.autocomplete-input {
  border: 1px solid transparent;
  padding: 12px 12px 12px 16px;
  max-width: 85%;
  font-size: 16px;
  line-height: 1.5;
  flex: 1;
  color: #21272A;
}

.autocomplete-results {
  position: absolute;
  max-height: 300px;
  overflow: scroll;
  left: -2px;
  margin: 0;
  padding: 0;
  margin-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  border: 2px solid #4B5158;
  border-radius: 4px;
  width: 100%;
  z-index: 1;
  background: #fff;
  color: #21272A;
  list-style: none;
  transition: none;
}

.autocomplete-result {
  cursor: default;
  padding: 12px 0;
  margin: 0 20px;
  border-bottom: 1px solid #DDE1E6;
}

.autocomplete-result:last-child {
  border-bottom: none;
}

.autocomplete-result:hover {
  background: #fff;
}

.autocomplete-result.selected {
  font-weight: bold;
}

.search-result {
  margin-top: 64px;
  text-align: center;
}

.hidden {
  display: none;
}
