body, html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #0D1846;
  color: #fff;
}

#container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: center;
}

h1 {
  padding: 24px 0;
  margin-bottom: 0;
  font-weight: normal;
}

#search {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  border-radius: 4px;
}

#output {
  position: absolute;
  z-index: 2;
  top: 86px;
  left: 8px;
  background: #fff;
  text-align: left;
  width: 89%;
  height: 52px;
}

#output span {
  display: flex;
  position: relative;
  z-index: 100;
  margin-top: 6px;
  padding: 10px 14px 10px 12px;
  border-radius: 4px;
  background: #0079C8;
}

#output a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #fff;
}

#output a:hover {
  opacity: .7;
}

#clearSearch {
  margin-left: 12px;
  color: #fff;
  cursor: pointer;
}

#clearSearch:hover {
  opacity: .7;
}

#startButton {
  position: absolute;
  z-index: 10;
  top: 87px;
  right: 0;
  height: 46px;
  margin: 2px 8px 2px 1px;
  width: 46px;
  background: #fff;
  color: transparent;
  cursor: pointer;
  font-size: 0.01px;
  text-decoration: none;
  border-radius: 100px;
  border: none;
  transition: all 0.3s ease;
}

#startButton::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 18px;
  content: "\f130";
  color: #0079C8;
}

#startButton:hover {
  background: #F0F1F3;
}

#startButton.active {
  background-color: #D90014;
}

#startButton.active::before {
  color: #fff;
}

@keyframes quiet {
  25%{
    transform: scaleY(.6);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.8);
  }
}

@keyframes normal {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(.6);
  }
}
@keyframes loud {
  25%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(.4);
  }
  75%{
    transform: scaleY(1);
  }
}
